body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("https://thumbs.dreamstime.com/b/textura-incons%C3%BAtil-comida-41932477.jpg");
    .container{
        .row{
            margin-top: 15px;
            background-color: $fondo_section;
        }
    }
    .container-fluid{
        background-color: $fondo_footer;
        footer{
            div{
                ul{
                    list-style: none;
                    li{
                        a{
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}