#tutoriales{
    div{
        iframe{
            margin-bottom: 15px;
            width: 80%;
            margin-left: 10%;
            height: 512px;
        }
    }
    margin-bottom: 15px;
}

.videos{
    margin-bottom: 15px;
    div{
        display: flex;
        iframe{
            margin:15px;
        }
    }
}