*{
    margin:0;
    padding:0;
}

nav{
    .container-fluid{
        background-color: aqua;
    }
}

.container-fluid{
    #top_recetas{
        background-color: pink;
    }
    #blog{
        background-color: yellow;
    }
    #tutoriales{
        background-color: green;
    }
}